jupyterlab>3.0
langchain-nvidia-ai-endpoints==0.2.0
langchain-chroma==0.1.2
langchain-community==0.2.10
langchain-openai==0.1.17
langchain==0.2.11
langgraph==0.1.14
tavily-python==0.3.5
beautifulsoup4==4.12.2
lxml==5.2.2

dataclass_wizard==0.22.2
gradio==4.15.0
unstructured[pdf]==0.15.0
